<html class="no-js" lang="en"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">

        <meta charset="utf-8">
        <title>Login</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <!-- CSS -->
        <link rel="stylesheet" href="../../static/admin/css/login/reset.css">
        <link rel="stylesheet" href="../../static/admin/css/login/supersized.css">
        <link rel="stylesheet" href="../../static/admin/css/login/style.css">

    </head>

    <body>

        <div class="page-container">
            <h1>Quaint-Login</h1>
            <form action="/quaint/login" method="post">
                <input value="quaint" type="text" name="userName" class="username" placeholder="请输入您的用户名！">
                <input value="123456" type="password" name="userPwd" class="password" placeholder="请输入您的用户密码！">
                <!--<input type="Captcha" class="Captcha" name="Captcha" placeholder="请输入验证码！">-->
                <button type="submit" class="submit_button">登录</button>
                <div class="error"><span>+</span></div>
            </form>

        </div>
        <!-- Javascript -->
        <script src="../../static/comm/js/jquery.min.js"></script>
        <script src="../../static/admin/js/login/supersized.js"></script>
        <script src="../../static/admin/js/login/supersized-init.js"></script>
        <script src="../../static/admin/js/login/scripts.js"></script>

		<ul id="supersized" class="quality" style="visibility: visible;">
			<li class="slide-0 activeslide" style="visibility: visible; opacity: 1;">
				<a target="_blank">
					<img src="../../static/admin/img/login/1.jpg" style="width: 1583px; left: 0px; top: -61px; height: 886.48px;">
				</a>
			</li>
			<li class="slide-1" style="visibility: visible; opacity: 1;">
				<a target="_blank"><img src="../../static/admin/img/login/2.jpg" style="width: 1583px; left: 0px; top: -61px; height: 886.48px;"></a>
			</li>
			<li class="slide-2 prevslide" style="visibility: visible; opacity: 1;">
				<a target="_blank"><img src="../../static/admin/img/login/3.jpg" style="width: 1583px; height: 886.48px; left: 0px; top: -61px;"></a>
			</li>
		</ul>
			
    </body>
</html>