<!DOCTYPE html>
<html lang="zh-cmn-Hans">

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<title>后台管理面板</title>
		<link rel="shortcut icon" href="../../static/blog/image/index/quaint-logo.ico">
		<link rel="stylesheet" href="../../static/admin/layui/css/layui.css">
		<link rel="stylesheet" href="../../static/admin/layui/css/admin.css">
	</head>

	<body class="layui-layout-body">
		<div id="LAY_app">
			<div class="layui-layout layui-layout-admin">
				<!-- 头部区域 -->
				<div class="layui-header">
					<ul class="layui-nav layui-layout-left">
						<li class="layui-nav-item layadmin-flexible" lay-unselect="">
							<a href="javascript:;" layadmin-event="flexible" title="侧边伸缩">
								<i class="layui-icon layui-icon-shrink-right" id="LAY_app_flexible"></i>
							</a>
						</li>
						<li class="layui-nav-item layui-hide-xs" lay-unselect="">
							<a href="http://www.quaint-aini.com" target="_blank" title="前台">
								<i class="layui-icon layui-icon-website"></i>
							</a>
						</li>
						<li class="layui-nav-item" lay-unselect="">
							<a href="javascript:;" layadmin-event="refresh" title="刷新">
								<i class="layui-icon layui-icon-refresh-3"></i>
							</a>
						</li>
						<li class="layui-nav-item layui-hide-xs" lay-unselect="">
							<input type="text" placeholder="搜索..." autocomplete="off" class="layui-input layui-input-search" layadmin-event="serach" lay-action="template/search.html?keywords=">
						</li>
					</ul>
					<ul class="layui-nav layui-layout-right" lay-filter="layadmin-layout-right">
						<li class="layui-nav-item" lay-unselect="">
							<a lay-href="app/message/index.html" layadmin-event="message" lay-text="消息中心">
								<i class="layui-icon layui-icon-notice"></i>
								<!-- 如果有新消息，则显示小圆点 -->
								<span class="layui-badge-dot"></span>
							</a>
						</li>
						<li class="layui-nav-item layui-hide-xs" lay-unselect="">
							<a href="javascript:;" layadmin-event="theme">
								<i class="layui-icon layui-icon-theme"></i>
							</a>
						</li>
						<li class="layui-nav-item layui-hide-xs" lay-unselect="">
							<a href="javascript:;" layadmin-event="note">
								<i class="layui-icon layui-icon-note"></i>
							</a>
						</li>
						<li class="layui-nav-item" lay-unselect="">
							<a href="javascript:;">
								<cite>Quaint</cite>
								<span class="layui-nav-more"></span></a>
							<dl class="layui-nav-child">
								<dd><a lay-href="set/user/info.html">基本资料</a></dd>
								<dd><a lay-href="set/user/password.html">修改密码</a></dd>
								<hr>
								<dd layadmin-event="logout" style="text-align: center;"><a href="/quaint/exit">退出</a></dd>
							</dl>
						</li>
						<li class="layui-nav-item layui-hide-xs" lay-unselect="">
							<a href="javascript:;" layadmin-event="about"><i class="layui-icon layui-icon-more-vertical"></i></a>
						</li>
						<li class="layui-nav-item layui-show-xs-inline-block layui-hide-sm" lay-unselect="">
							<a href="javascript:;" layadmin-event="more"><i class="layui-icon layui-icon-more-vertical"></i></a>
						</li>
					</ul>
				</div>
				<!-- 侧边菜单 -->
				<div class="layui-side layui-side-menu">
					<div class="layui-side-scroll">
						<div class="layui-logo" lay-href="home/console.html">
							<!--<img src="../../static/blog/image/index/quaint-logo.ico" width="45px" height="45px">-->
							<span>Quaint-Blog</span>
						</div>

						<ul class="layui-nav layui-nav-tree" lay-shrink="all" id="LAY-system-side-menu" lay-filter="layadmin-system-side-menu">
							<li data-name="home" class="layui-nav-item layui-nav-itemed">
								<a href="javascript:;" lay-tips="主页" lay-direction="2">
									<i class="layui-icon layui-icon-home"></i>
									<cite>主页</cite>
									<span class="layui-nav-more"></span></a>
								<dl class="layui-nav-child">
									<dd data-name="console" class="layui-this">
										<a lay-href="home/console.html">仪表盘</a>
									</dd>
								</dl>
							</li>
							<li data-name="user" class="layui-nav-item">
								<a href="javascript:;" lay-tips="用户" lay-direction="2">
									<i class="layui-icon layui-icon-user"></i>
									<cite>用户</cite>
									<span class="layui-nav-more"></span></a>
								<dl class="layui-nav-child">
									<dd>
										<a lay-href="user/user/list.html">网站用户</a>
									</dd>
									<dd>
										<a lay-href="user/administrators/list.html">后台管理员</a>
									</dd>
									<dd>
										<a lay-href="user/administrators/role.html">角色管理</a>
									</dd>
								</dl>
							</li>
							<li data-name="template" class="layui-nav-item">
								<a href="javascript:;" lay-tips="页面" lay-direction="2">
									<i class="layui-icon layui-icon-template"></i>
									<cite>页面</cite>
									<span class="layui-nav-more"></span></a>
								<dl class="layui-nav-child">
									<dd><a lay-href="template/personalpage.html">发布文章</a></dd>
									<dd><a lay-href="template/msgboard.html">文章管理</a></dd>
									<dd><a href="/quaint/mood" target="quaint-ifream">心情列表</a></dd>
									<dd><a lay-href="template/search.html">评论管理</a></dd>
									<dd><a href="https://www.layui.com/admin/std/dist/views/user/reg.html" target="_blank">留言管理</a></dd>
									<dd><a href="https://www.layui.com/admin/std/dist/views/user/login.html" target="_blank">分类标签</a></dd>
								</dl>
							</li>
							<!--<li data-name="app" class="layui-nav-item">-->
								<!--<a href="javascript:;" lay-tips="应用" lay-direction="2">-->
									<!--<i class="layui-icon layui-icon-app"></i>-->
									<!--<cite>应用</cite>-->
									<!--<span class="layui-nav-more"></span></a>-->
								<!--<dl class="layui-nav-child">-->
									<!--<dd data-name="content">-->
										<!--<a href="javascript:;">内容系统<span class="layui-nav-more"></span></a>-->
										<!--<dl class="layui-nav-child">-->
											<!--<dd data-name="list"><a lay-href="app/content/blog.html">文章列表</a></dd>-->
											<!--<dd data-name="tags"><a lay-href="app/content/tags.html">分类管理</a></dd>-->
											<!--<dd data-name="comment"><a lay-href="app/content/comment.html">评论管理</a></dd>-->
										<!--</dl>-->
									<!--</dd>-->
								<!--</dl>-->
							<!--</li>-->
							<!--<li data-name="senior" class="layui-nav-item">-->
								<!--<a href="javascript:;" lay-tips="高级" lay-direction="2">-->
									<!--<i class="layui-icon layui-icon-senior"></i>-->
									<!--<cite>高级</cite>-->
									<!--<span class="layui-nav-more"></span></a>-->
								<!--<dl class="layui-nav-child">-->
									<!--<dd>-->
										<!--<a layadmin-event="im">LayIM 通讯系统</a>-->
									<!--</dd>-->
								<!--</dl>-->
							<!--</li>-->
							<li data-name="set" class="layui-nav-item">
								<a href="javascript:;" lay-tips="设置" lay-direction="2">
									<i class="layui-icon layui-icon-set"></i>
									<cite>设置</cite>
									<span class="layui-nav-more"></span></a>
								<dl class="layui-nav-child">
									<dd class="layui-nav-itemed">
										<a href="javascript:;">系统设置<span class="layui-nav-more"></span></a>
										<dl class="layui-nav-child">
											<dd><a lay-href="set/system/website.html">网站设置</a></dd>
											<dd><a lay-href="set/system/email.html">邮件服务</a></dd>
										</dl>
									</dd>
									<dd class="layui-nav-itemed">
										<a href="javascript:;">我的设置<span class="layui-nav-more"></span></a>
										<dl class="layui-nav-child">
											<dd><a lay-href="set/user/info.html">基本资料</a></dd>
											<dd><a lay-href="set/user/password.html">修改密码</a></dd>
										</dl>
									</dd>
								</dl>
							</li>
						</ul>
					</div>
				</div>
				<!-- 页面标签 -->
				<div class="layadmin-pagetabs" id="LAY_app_tabs">
					<div class="layui-icon layadmin-tabs-control layui-icon-prev" layadmin-event="leftPage"></div>
					<div class="layui-icon layadmin-tabs-control layui-icon-next" layadmin-event="rightPage"></div>
					<div class="layui-icon layadmin-tabs-control layui-icon-down">
						<ul class="layui-nav layadmin-tabs-select" lay-filter="layadmin-pagetabs-nav">
							<li class="layui-nav-item" lay-unselect="">
								<a href="javascript:;"><span class="layui-nav-more"></span></a>
								<dl class="layui-nav-child layui-anim-fadein">
									<dd layadmin-event="closeThisTabs"><a href="javascript:;">关闭当前标签页</a></dd>
									<dd layadmin-event="closeOtherTabs"><a href="javascript:;">关闭其它标签页</a></dd>
									<dd layadmin-event="closeAllTabs"><a href="javascript:;">关闭全部标签页</a></dd>
								</dl>
							</li>
						</ul>
					</div>
					<div class="layui-tab" lay-unauto="" lay-allowclose="true" lay-filter="layadmin-layout-tabs">
						<ul class="layui-tab-title" id="LAY_app_tabsheader">
							<li lay-id="home/console.html" lay-attr="home/console.html" class="layui-this"><i class="layui-icon layui-icon-home"></i><i class="layui-icon layui-unselect layui-tab-close">ဆ</i></li>
						</ul>
					</div>
				</div>
				<!-- 主体内容 -->
				<div class="layui-body" id="LAY_app_body">
					<div class="layadmin-tabsbody-item layui-show">
						<iframe name="quaint-ifream" style="width:100%;height:100%" src="/quaint/home" frameborder="0" class="layadmin-iframe"></iframe>
					</div>
				</div>
				<!-- 辅助元素，一般用于移动设备下遮罩 -->
				<div class="layadmin-body-shade" layadmin-event="shade"></div>
			</div>
		</div>
		<script src="../../static/admin/layui/layui.js"></script>
		<script>
			//JavaScript代码区域
			layui.use('element', function() {
				var element = layui.element;
				var $ = layui.$;
				// 配置tab实践在下面无法获取到菜单元素
				$('.site-demo-active').on('click', function () {
					var dataid = $(this);
					//这时会判断右侧.layui-tab-title属性下的有lay-id属性的li的数目，即已经打开的tab项数目
					if ($(".layui-tab-title li[lay-id]").length <= 0) {
						//如果比零小，则直接打开新的tab项
						active.tabAdd(dataid.attr("data-url"), dataid.attr("data-id"), dataid.attr("data-title"));
					} else {
						//否则判断该tab项是否以及存在
						var isData = false; //初始化一个标志，为false说明未打开该tab项 为true则说明已有
						$.each($(".layui-tab-title li[lay-id]"), function () {
							//如果点击左侧菜单栏所传入的id 在右侧tab项中的lay-id属性可以找到，则说明该tab项已经打开
							if ($(this).attr("lay-id") == dataid.attr("data-id")) {
								isData = true;
							}
						})
						if (isData == false) {
							//标志为false 新增一个tab项
							active.tabAdd(dataid.attr("data-url"), dataid.attr("data-id"), dataid.attr("data-title"));
						}
					}
					//最后不管是否新增tab，最后都转到要打开的选项页面上
					active.tabChange(dataid.attr("data-id"));
				});
				var active = {
					//在这里给active绑定几项事件，后面可通过active调用这些事件
					tabAdd: function (url, id, name) {
						//新增一个Tab项 传入三个参数，分别对应其标题，tab页面的地址，还有一个规定的id，是标签中data-id的属性值
						//关于tabAdd的方法所传入的参数可看layui的开发文档中基础方法部分
						element.tabAdd('demo', {
							title: name,
							content: '<iframe data-frameid="' + id + '" scrolling="auto" frameborder="0" src="' + url + '" style="width:100%;height:99%;"></iframe>',
							id: id //规定好的id
						})
						FrameWH();  //计算ifram层的大小
					},
					tabChange: function (id) {
						//切换到指定Tab项
						element.tabChange('demo', id); //根据传入的id传入到指定的tab项
					},
					tabDelete: function (id) {
						element.tabDelete("demo", id);//删除
					}
				};
				function FrameWH() {
					var h = $(window).height();
					$("iframe").css("height",h+"px");
				}
			});

		</script>
	</body>

</html>