<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="keywords" content="quaint个人博客,quaintBlog,quaint" />
		<meta name="date" content="2018.02.14"/>
		<meta name="description" content="(๑• ₃ •๑)欢迎来到Quaintの博客，(๑> ؂ <๑)这是一个正在成长中的博客，一起成长的还有我的好朋友(> ω <)夏睡醒了秋~"/>
		<title>Quaint个人博客 - 风清忆箫伤の寻遍星空散落的每一份感动</title>
		<link rel="shortcut icon" href="image/index/quaint-logo.ico">
		<!-- 引用js -->
		<script src="../../static/comm/js/jquery-3.3.1.js"></script>
		<script src="../../static/blog/js/quaint-home.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../static/blog/js/quaint-effect.js" type="text/javascript"></script>
		<!-- 引用css -->
		<link rel="stylesheet" type="text/css" href="../../static/comm/css/bootstrap.css"/>
		<link rel="stylesheet" type="text/css" href="../../static/blog/css/quaint-index.css"/>
		<link rel="stylesheet" type="text/css" href="../../static/blog/css/quaint-about.css"/>
	</head>
	<body>
		<!-- quaint home内容开始 -->
		<div id="iframeH" class="container-fluid quaint-content">
			<div class="quaint-middle-bgI">
				<div class="row">
					<div class="col-lg-12">
						<div class="quaint-middle-bgII">
							<h4 class="quaint-bottomLine">QuaintのSays:</h4>
							<p class="quaint-indent">
								目前Quaint还在学习中...有时间会慢慢更新网页，并将学习的新的知识运用到
								网页里。加油，未来的路还很长。
							</p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-9">
						<a href="/quaint-live?pageIndex=1#quaint-live-new">
							<div class="quaint-middle-bgII quaint-clear">
								<div class="quaint-new-label"></div>
								<p class="quaint-bottomLine">Quaint最新动态:</p>
								<!-- -----------生成跳转到新页面的标签  内容为------------- -->
								<div id = "skip_new">
									
									<span class="glyphicon glyphicon-time"></span>
										<!-- 这里是时间2018年10月7日00:38:49 -->
									<p class="quaint-indent">
										&nbsp;<!-- 这是撑高度的p标签  -->
									</p>
									
								</div>
								<!-- -------------------------------------- -->
								<span class="quaint-f-right">——QuaintのnewLive</span>
							</div>
						</a>
						<a href="/quaint-about#quaint-about-say">
							<div class="quaint-middle-bgII quaint-clear">
								<p class="quaint-indent">此时，你看到这个网站的时候，会不会微微一笑，原来再次回来，网站还是这么...</p>
								<span class="quaint-f-right">——致远去の大学生活</span>
							</div>
						</a>
						<a href="/quaint-live#quaint-live-mood">
							<div class="quaint-middle-bgII quaint-clear">
								<p class="quaint-indent">每一次，迷茫的时候，找一个倾诉的地方，听着歌，反思自己想要的成长，但是又少了清晰的方向...</p>
								<span class="quaint-f-right">——Quaintの心情日志</span>
							</div>
						</a>
					</div>
					<div class="col-lg-3">
						<a href="/quaint-about#quaint-about-introduce">
							<div class="quaint-middle-bgII">
								<div class="row">
									<h4 class="quaint-ab-title">关于我</h4>
									<div class="quaint-text-center">
										<img class="quaint-sizeI" src="../../static/blog/image/home/home-quaint.jpg" alt="This is Quaint"/>
									</div>
									<div class="col-lg-12">
										<p class="quaint-mtop7">网名:　Quaint</p>
										<p>职业:　ACG爱好者</p>
										<p>爱好:　动漫,听歌,睡觉...</p>
										<p>邮箱:　857776215@qq.com</p>
									</div>
								</div>
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
		<!-- quaint home内容结束 -->
	</body>
	<script src="../../static/blog/js/quaint-jframe.js" type="text/javascript" charset="utf-8"></script>
</html>
