<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="keywords" content="quaint个人博客,quaintBlog,quaint" />
		<meta name="date" content="2018.02.14"/>
		<meta name="description" content="(๑• ₃ •๑)欢迎来到Quaintの博客，(๑> ؂ <๑)这是一个正在成长中的博客，一起成长的还有我的好朋友(> ω <)夏睡醒了秋~"/>
		<title>Quaint个人博客 - 风清忆箫伤の落寒初忆</title>
		<link rel="shortcut icon" href="image/index/quaint-logo.ico">
		<!-- 引入js -->
		<script src="../../static/comm/js/jquery-3.3.1.js"></script>
		<script src="../../static/blog/js/quaint-about.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../static/blog/js/quaint-effect.js" type="text/javascript"></script>
		<!-- 引入css -->
		<link rel="stylesheet" type="text/css" href="../../static/comm/css/bootstrap.css"/>
		<link rel="stylesheet" type="text/css" href="../../static/blog/css/quaint-about.css"/>
		<link rel="stylesheet" type="text/css" href="../../static/blog/css/quaint-index.css"/>
	</head>
	<body>
		<!-- quaint 关于开始 -->
		<div id="iframeH" class="container-fluid quaint-content">
			<div class="quaint-middle-bgI">
				<div class="row">
					<div class="col-lg-5">
						<div id="quaint-about-introduce" class="quaint-middle-bgII">
							<div class="row">
								<h4 class="quaint-ab-title">关于我</h4>
								<div class="quaint-text-center">
									<img class="quaint-sizeI" src="../../static/blog/image/home/home-quaint.jpg" alt="This is Quaint"/>
								</div>
								<div class="col-lg-12">
									<p class="quaint-mtop7">网名:　Quaint</p>
									<p>职业:　ACG爱好者</p>
									<p>爱好:　放松,听歌,睡觉...</p>
									<p>邮箱:　857776215@qq.com</p>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-7">
						<div id="quaint-about-say" class="quaint-middle-bgII quaint-clear">
							<p class="quaint-bottomLine">Quaint寄语:</p>
							<p class="quaint-indent">此时，你看到这个网站的时候，会不会微微一笑，原来再次回来，网站还是这么的简陋不堪。</p>
							<p class="quaint-indent">但是，此时的你驻足停留，我们已是朋友，前端的路上我再也不用一个人独自行走，感谢路过的所有人。</p>
							<p class="quaint-indent">倘若，有一天你还会突然想起我，会来看看我的变化，那么我将努力让你可以留下足迹，到那时候
							，我想拿起一杯酒，听听多年来，在外流浪的朋友，你的故事。 </p>
							<span class="quaint-f-right">——致远去の大学生活</span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- quaint 关于结束 -->
	</body>
	<script src="../../static/blog/js/quaint-jframe.js" type="text/javascript" charset="utf-8"></script>
</html>
