<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="keywords" content="quaint个人博客,quaintBlog,quaint" />
		<meta name="date" content="2018.02.14"/>
		<meta name="description" content="(๑• ₃ •๑)欢迎来到Quaintの博客，(๑> ؂ <๑)这是一个正在成长中的博客，一起成长的还有我的好朋友(> ω <)夏睡醒了秋~"/>
		<title>Quaint个人博客 - 风清忆箫伤の侧耳倾听</title>
		<link rel="shortcut icon" href="../../static/blog/image/index/quaint-logo.ico">
		<!-- js -->
		<script src="../../static/comm/js/jquery-3.3.1.js"></script>
		<script src="../../static/blog/js/quaint-saying.js" type="text/javascript" charset="utf-8"></script>
		<!-- css -->
		<link rel="stylesheet" type="text/css" href="../../static/comm/css/bootstrap.css"/>
		<link rel="stylesheet" type="text/css" href="../../static/blog/css/quaint-saying.css"/>
		<link rel="stylesheet" type="text/css" href="../../static/blog/css/quaint-index.css"/>
	</head>
	<body>
		<!-- quaint 中间开始 -->
		<div id="iframeH" class="container-fluid quaint-content">
			<div class="quaint-middle-bgI">
				<div class="quaint-middle-bgII">
					<div class="div-white-a">
						<a href="/quaint-sayingYK">不想使用畅言?熟人通道--></a>
					</div>
					<!--PC版-->
					<div id="SOHUCS" sid="test"></div>
					<script charset="utf-8" type="text/javascript" src="https://changyan.sohu.com/upload/changyan.js" ></script>
					<script type="text/javascript">
						window.changyan.api.config({
						appid: 'cytyx9bj1',
						conf: 'prod_7148a4c2c3e99cc4436d6dcf3caf7517'
						});
					</script>
					
					
				</div>
			</div>
		</div>
		<!-- quaint 中间结束 -->
	</body>
	<script src="../../static/blog/js/quaint-jframe.js" type="text/javascript" charset="utf-8"></script>
</html>
