<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="keywords" content="quaint个人博客,quaintBlog,quaint" />
<meta name="date" content="2018.02.14"/>
<meta name="description" content="(๑• ₃ •๑)欢迎来到Quaintの博客，(๑> ؂ <๑)这是一个正在成长中的博客，一起成长的还有我的好朋友(> ω <)夏睡醒了秋~"/>
<title>Quaint个人博客 - 风清忆箫伤の寻遍星空散落的每一份感动</title>
<link rel="shortcut icon" href="../../static/blog/image/index/quaint-logo.ico">
<link href="../../static/blogtemp/css/base.css" rel="stylesheet">
  <link href="../../static/blogtemp/css/index.css" rel="stylesheet">
<link href="../../static/blogtemp/css/m.css" rel="stylesheet">
<script src="../../static/comm/js/jquery.min.js" ></script>
<script src="../../static/blogtemp/js/gbook.js"></script>
<script src="../../static/comm/js/quaint-effect.js"></script>
<!--[if lt IE 9]>
<script src="../../static/blogtemp/js/modernizr.js"></script>
<![endif]-->
</head>
<body>
<header class="header-navigation" id="header">
  <nav>
    <div class="logo"><a href="/">Quaint's Blog</a></div>
    <h2 id="mnavh"><span class="navicon"></span></h2>
    <ul id="starlist">
      <li><a href="index.html">Home</a></li>
      <li><a href="about.html">About</a></li>
      <li><a href="blog.html">Blog</a></li>
      <li><a href="share.html">Share</a></li>
      <li class="menu">
        <a href="time.html">Time</a>
        <ul class="sub">
          <li><a href="#">Life</a></li>
          <li><a href="#">Appreciate</a></li>
        </ul>
      </li>
      <li><a href="saying.html">Saying</a></li>
    </ul>
    <div class="searchbox">
      <div id="search_bar" class="search_bar">
        <form  id="searchform" action="[!--news.url--]e/search/index.php" method="post" name="searchform">
          <input class="input" placeholder="want to search?" type="text" name="keyboard" id="keyboard">
          <input type="hidden" name="show" value="title" />
          <input type="hidden" name="tempid" value="1" />
          <input type="hidden" name="tbname" value="news">
          <input type="hidden" name="Submit" value="搜索" />
          <p class="search_ico"> <span></span></p>
        </form>
      </div>
    </div>
  </nav>
</header>
<article>

  <div class="about">

    <div class="gbook">

      <div class="fb">
        <ul>
          <p class="fbtime"><span>
          2019-01-18          </span> 11111</p>
          <p class="fbinfo">试试留言</p>
        </ul>
      </div>


      <div class="fb">
        <ul>
          <p class="fbtime"><span>
          2019-01-16          </span> tao</p>
          <p class="fbinfo">不断前行！</p>
        </ul>
      </div>


      <div class="fb">
        <ul>
          <p class="fbtime"><span>
          2019-01-09          </span> 溜溜</p>
          <p class="fbinfo">感觉您的博客很实用，可以拿来做模板吗</p>
        </ul>
      </div>


      <div class="gbox">
        <form action="../../enews/index.php" method="post" name="form1" id="form1">
          <p> <strong>来说点儿什么吧...</strong></p>
          <p><span> 您的姓名:</span>
            <input name="name" type="text" id="name">
            *</p>
          <p><span>联系邮箱:</span>
            <input name="email" type="text" id="email">
            *</p>
          <p><span class="tnr">留言内容:</span>
            <textarea name="lytext" cols="60" rows="12" id="lytext"></textarea>
          </p>
          <p>
            <input type="submit" name="Submit3" value="提交">
            <input name="enews" type="hidden" id="enews" value="AddGbook">
          </p>
        </form>
      </div>

    </div>
  </div>



</article>
<footer>
  <p>Design by <a href="http://www.yangqq.com" target="_blank">杨青个人博客</a> <a href="/">蜀ICP备11002373号-1</a></p>
</footer>
<a href="#" class="cd-top">Top</a>
</body>
</html>
