<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="keywords" content="quaint个人博客,quaintBlog,quaint" />
<meta name="date" content="2018.02.14"/>
<meta name="description" content="(๑• ₃ •๑)欢迎来到Quaintの博客，(๑> ؂ <๑)这是一个正在成长中的博客，一起成长的还有我的好朋友(> ω <)夏睡醒了秋~"/>
<title>Quaint个人博客 - 风清忆箫伤の寻遍星空散落的每一份感动</title>
<link rel="shortcut icon" href="../../static/blog/image/index/quaint-logo.ico">
<link href="../../static/blogtemp/css/base.css" rel="stylesheet">
<link href="../../static/blogtemp/css/share.css" rel="stylesheet">
<link href="../../static/blogtemp/css/m.css" rel="stylesheet">
<script src="../../static/blogtemp/js/jquery.min.js" ></script>
<script src="../../static/blogtemp/js/share.js"></script>
<script src="../../static/comm/js/quaint-effect.js"></script>
<!--[if lt IE 9]>
<script src="../../static/blogtemp/js/modernizr.js"></script>
<![endif]-->
</head>
<body>
<header class="header-navigation" id="header">
  <nav>
    <div class="logo"><a href="/">Quaint's Blog</a></div>
    <h2 id="mnavh"><span class="navicon"></span></h2>
    <ul id="starlist">
      <li><a href="index.html">Home</a></li>
      <li><a href="about.html">About</a></li>
      <li><a href="blog.html">Blog</a></li>
      <li><a href="share.html">Share</a></li>
      <li class="menu">
        <a href="time.html">Time</a>
        <ul class="sub">
          <li><a href="#">Life</a></li>
          <li><a href="#">Appreciate</a></li>
        </ul>
      </li>
      <li><a href="temp.html">Saying</a></li>
    </ul>
    <div class="searchbox">
      <div id="search_bar" class="search_bar">
        <form  id="searchform" action="[!--news.url--]e/search/index.php" method="post" name="searchform">
          <input class="input" placeholder="want to search?" type="text" name="keyboard" id="keyboard">
          <input type="hidden" name="show" value="title" />
          <input type="hidden" name="tempid" value="1" />
          <input type="hidden" name="tbname" value="news">
          <input type="hidden" name="Submit" value="搜索" />
          <p class="search_ico"> <span></span></p>
        </form>
      </div>
    </div>
  </nav>
</header>
<article>
  <div class="topbox">
    <ul>
      <li><i><a href="/"><span class="tnum">1</span><span class="tpic"><img src="../../static/blogtemp/images/5.jpg"></span><span class="toptext">html5个人博客模板《simple》</span></a></i></li>
      <li><i><a href="/"><span class="tnum">2</span><span class="tpic"><img src="../../static/blogtemp/images/mb2.jpg"></span><span class="toptext">html5个人博客模板《simple》</span></a></i></li>
      <li><i><a href="/"><span class="tnum">3</span><span class="tpic"><img src="../../static/blogtemp/images/mb3.jpg"></span><span class="toptext">html5个人博客模板《simple》</span></a></i></li>
      <li><i><a href="/"><span class="tnum">4</span><span class="tpic"><img src="../../static/blogtemp/images/mb4.jpg"></span><span class="toptext">html5个人博客模板《simple》</span></a></i></li>
    </ul>
  </div>
  <div class="fenlei">
    <ul>
      <li class="flselect"><a href="#top1">古典个人博客</a> </li>
      <li><a href="#top2">小清新</a> </li>
      <li><a href="#top3">时尚简洁</a> </li>
      <li><a href="#top4">技术门户</a> </li>
      <li><a href="#top5">国外html5</a> </li>
      <li><a href="#top6">PSD设计图</a> </li>
    </ul>
  </div>
  <div class="mbans">
    <div class="mban"  style="display: block;" name="top1">
      <ul>
        <li><i><a href="/"><span class="tnum">原创</span><img src="../../static/blogtemp/images/mb1.jpg"> <span class="mbtitle">个人博客模板《simple》</span> </a></i></li>
        <li><i><a href="/"><span class="tnum">原创</span><img src="../../static/blogtemp/images/mb2.jpg"> <span class="mbtitle">个人博客模板《simple》</span> </a></i></li>
        <li><i><a href="/"><span class="tnum">原创</span><img src="../../static/blogtemp/images/mb3.jpg"> <span class="mbtitle">个人博客模板《simple》</span> </a></i></li>
        <li><i><a href="/"><span class="tnum">原创</span><img src="../../static/blogtemp/images/mb4.jpg"> <span class="mbtitle">个人博客模板《simple》</span> </a></i></li>
        <li><i><a href="/"><span class="tnum">原创</span><img src="../../static/blogtemp/images/mb5.jpg"> <span class="mbtitle">个人博客模板《simple》</span> </a></i></li>
        <li><i><a href="/"><span class="tnum">原创</span><img src="../../static/blogtemp/images/mb1.jpg"> <span class="mbtitle">个人博客模板《simple》</span> </a></i></li>
        <li><i><a href="/"><span class="tnum">原创</span><img src="../../static/blogtemp/images/mb2.jpg"> <span class="mbtitle">个人博客模板《simple》</span> </a></i></li>
        <li><i><a href="/"><span class="tnum">原创</span><img src="../../static/blogtemp/images/mb3.jpg"> <span class="mbtitle">个人博客模板《simple》</span> </a></i></li>
        <li><i><a href="/"><span class="tnum">原创</span><img src="../../static/blogtemp/images/mb4.jpg"> <span class="mbtitle">个人博客模板《simple》</span> </a></i></li>
        <li><i><a href="/"><span class="tnum">原创</span><img src="../../static/blogtemp/images/mb5.jpg"> <span class="mbtitle">个人博客模板《simple》</span> </a></i></li>
      </ul>
    </div>
    <div class="mban" name="top2">
      <ul>
        <li><i><a href="/"><span class="tnum">原创</span><img src="../../static/blogtemp/images/mb1.jpg"> <span class="mbtitle">个人博客模板《simple》</span> </a></i></li>
        <li><i><a href="/"><span class="tnum">原创</span><img src="../../static/blogtemp/images/mb4.jpg"> <span class="mbtitle">个人博客模板《simple》</span> </a></i></li>
        <li><i><a href="/"><span class="tnum">原创</span><img src="../../static/blogtemp/images/mb2.jpg"> <span class="mbtitle">个人博客模板《simple》</span> </a></i></li>
        <li><i><a href="/"><span class="tnum">原创</span><img src="../../static/blogtemp/images/mb3.jpg"> <span class="mbtitle">个人博客模板《simple》</span> </a></i></li>
        <li><i><a href="/"><span class="tnum">原创</span><img src="../../static/blogtemp/images/mb5.jpg"> <span class="mbtitle">个人博客模板《simple》</span> </a></i></li>
      </ul>
    </div>
    <div class="mban" name="top3">
      <ul>
        <li><i><a href="/"><span class="tnum">原创</span><img src="../../static/blogtemp/images/mb2.jpg"> <span class="mbtitle">个人博客模板《simple》</span> </a></i></li>
        <li><i><a href="/"><span class="tnum">原创</span><img src="../../static/blogtemp/images/mb3.jpg"> <span class="mbtitle">个人博客模板《simple》</span> </a></i></li>
        <li><i><a href="/"><span class="tnum">原创</span><img src="../../static/blogtemp/images/mb4.jpg"> <span class="mbtitle">个人博客模板《simple》</span> </a></i></li>
        <li><i><a href="/"><span class="tnum">原创</span><img src="../../static/blogtemp/images/mb5.jpg"> <span class="mbtitle">个人博客模板《simple》</span> </a></i></li>
        <li><i><a href="/"><span class="tnum">原创</span><img src="../../static/blogtemp/images/mb1.jpg"> <span class="mbtitle">个人博客模板《simple》</span> </a></i></li>
      </ul>
    </div>
    <div class="mban" name="top4">
      <ul>
        <li><i><a href="/"><span class="tnum">原创</span><img src="../../static/blogtemp/images/mb3.jpg"> <span class="mbtitle">个人博客模板《simple》</span> </a></i></li>
        <li><i><a href="/"><span class="tnum">原创</span><img src="../../static/blogtemp/images/mb1.jpg"> <span class="mbtitle">个人博客模板《simple》</span> </a></i></li>
        <li><i><a href="/"><span class="tnum">原创</span><img src="../../static/blogtemp/images/mb2.jpg"> <span class="mbtitle">个人博客模板《simple》</span> </a></i></li>
        <li><i><a href="/"><span class="tnum">原创</span><img src="../../static/blogtemp/images/mb4.jpg"> <span class="mbtitle">个人博客模板《simple》</span> </a></i></li>
        <li><i><a href="/"><span class="tnum">原创</span><img src="../../static/blogtemp/images/mb5.jpg"> <span class="mbtitle">个人博客模板《simple》</span> </a></i></li>
      </ul>
    </div>
    <div class="mban" name="top5">
      <ul>
        <li><i><a href="/"><span class="tnum">原创</span><img src="../../static/blogtemp/images/mb2.jpg"> <span class="mbtitle">个人博客模板《simple》</span> </a></i></li>
        <li><i><a href="/"><span class="tnum">原创</span><img src="../../static/blogtemp/images/mb1.jpg"> <span class="mbtitle">个人博客模板《simple》</span> </a></i></li>
        <li><i><a href="/"><span class="tnum">原创</span><img src="../../static/blogtemp/images/mb4.jpg"> <span class="mbtitle">个人博客模板《simple》</span> </a></i></li>
        <li><i><a href="/"><span class="tnum">原创</span><img src="../../static/blogtemp/images/mb3.jpg"> <span class="mbtitle">个人博客模板《simple》</span> </a></i></li>
        <li><i><a href="/"><span class="tnum">原创</span><img src="../../static/blogtemp/images/mb5.jpg"> <span class="mbtitle">个人博客模板《simple》</span> </a></i></li>
      </ul>
    </div>
    <div class="mban" name="top6">
      <ul>
        <li><i><a href="/"><span class="tnum">原创</span><img src="../../static/blogtemp/images/mb5.jpg"> <span class="mbtitle">个人博客模板《simple》</span> </a></i></li>
        <li><i><a href="/"><span class="tnum">原创</span><img src="../../static/blogtemp/images/mb1.jpg"> <span class="mbtitle">个人博客模板《simple》</span> </a></i></li>
        <li><i><a href="/"><span class="tnum">原创</span><img src="../../static/blogtemp/images/mb2.jpg"> <span class="mbtitle">个人博客模板《simple》</span> </a></i></li>
        <li><i><a href="/"><span class="tnum">原创</span><img src="../../static/blogtemp/images/mb3.jpg"> <span class="mbtitle">个人博客模板《simple》</span> </a></i></li>
        <li><i><a href="/"><span class="tnum">原创</span><img src="../../static/blogtemp/images/mb4.jpg"> <span class="mbtitle">个人博客模板《simple》</span> </a></i></li>
      </ul>
    </div>
  </div>
</article>
<footer>
  <p>Design by <a href="http://www.yangqq.com" target="_blank">杨青个人博客</a> <a href="/">蜀ICP备11002373号-1</a></p>
</footer>
<a href="#" class="cd-top">Top</a>
</body>
</html>
