@charset "utf-8";
/* css */
* { margin: 0; padding: 0 }
body { font: 15px "Microsoft YaHei", Arial, Helvetica, sans-serif; color: #555; background: url(../image/topbg.jpg) no-repeat right top #115C96; line-height: 1.5; }
img { border: 0; display: block }
ul, li { list-style: none; }
a { text-decoration: none; color: #555 }
a:hover { text-decoration: none; color: #000; }
.clear { clear: both; }
.blank { height: 20px; overflow: hidden; width: 100%; margin: auto; clear: both }
.f_l { float: left }
.f_r { float: right }
article { width: 1000px; margin: auto; overflow: hidden }
.container { width: 1000px; margin: auto }
/* header */
header { width: 100%; overflow: hidden; }
.logo { width: 1000px; margin: auto; font-size: 26px; padding: 20px 0; -webkit-text-shadow: 1px 1px 1px rgba(0,0,0,.2); -moz-text-shadow: 1px 1px 1px rgba(0,0,0,.2); text-shadow: 1px 1px 1px rgba(0,0,0,.2); }
.logo a { color: #FFF }
nav { width: 1000px; margin: auto; overflow: hidden; padding: 20px 0 }
nav li { display: inline-block; float: left; width: 100px; text-align: center; overflow: hidden; line-height: 30px; text-shadow: #fff 1px 0 2px, #fff 0 1px 2px, #fff -1px 0 2px, #fff 0 -1px 2px; }
nav li a { color: #C93282; }
a#selected,nav li a:hover { display: block; background: #C93282; color: #fff; border-radius: 0 20px; text-shadow: none }
/*cd-top*/
.cd-top { display: inline-block; height: 40px; width: 40px; position: fixed; bottom: 40px; right: 10px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.05); overflow: hidden; text-indent: 100%; white-space: nowrap; background: rgba(0, 0, 0, 0.8) url(../image/top.png) no-repeat center; visibility: hidden; opacity: 0; -webkit-transition: all 0.3s; -moz-transition: all 0.3s; transition: all 0.3s; }
.cd-top.cd-is-visible { visibility: visible; opacity: 1; }
/*footer*/
footer { width: 100%; color: #a5a4a4; text-align: center; padding: 20px 0; clear: both; text-shadow: #fff 1px 0 2px, #fff 0 1px 2px, #fff -1px 0 2px, #fff 0 -1px 2px; }
footer a { color: #a5a4a4 ; }
