ul.page-wrap{
    margin:0;
    padding:0;
}
ul.page-wrap,ul.page-wrap li{
    list-style-type:none
}
ul.page-wrap{
    *width:600px;
    margin:0 auto;
    *height:63px !important;
    *padding-top:25px;
    height:88px;
    line-height:88px;
    text-align:center
}
ul.page-wrap li{
    margin:0 3px;
    display:inline-block;
    height:34px;
    *float:left;
    line-height:34px;
    padding:0 13px;
    cursor: pointer;
}
ul.page-wrap li.on:hover {
    background-color:#3690cf
}
/*ul.page-wrap li:hover{*/
    /*background-color:#d0e5f9*/
/*}*/
ul.page-wrap .on{
    color:#fff;background-color:#3690cf
}