ul.page-wrap{
    margin:0;
    padding:0;
}
ul.page-wrap,ul.page-wrap li{
    list-style-type:none
}
ul.page-wrap{
    *width:600px;
    margin:0 auto;
    *height:63px !important;
    *padding-top:25px;
    height:88px;
    line-height:88px;
    text-align:center
}
ul.page-wrap > li{
    margin:0px;
    display:inline-block;
    height:34px;
    *float:left;
    line-height:34px;
    padding:0 12px;
    cursor: pointer;
}
ul.page-wrap > li:first-child{
    padding:0px;
}
ul.page-wrap > li:last-child{
    padding:0px;
}
ul.page-wrap li.on:hover {
    background-color:#3690cf
}
ul.page-wrap li:hover{
    background-color:#578cb4;
    border-radius: 12px;
}
ul.page-wrap .on{
    color:#fff;
    background-color:#3690cf;
    border-radius: 12px;
}