<!DOCTYPE html>
<html xmlns:th="http://www.springframework.org/schema/jdbc">
<head>
    <meta charset="utf-8">
    <title>心情说说模块列表</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="../static/layui/css/layui.css">
    <!-- 注意：如果你直接复制所有代码到本地，上述css路径需要改成你本地的 -->
    <script type="text/html" id="toolbarMood">
        <div class="layui-btn-container">
            <button class="layui-btn layui-btn-sm" lay-event="insert">添加说说</button>
            <button class="layui-btn layui-btn-sm" lay-event="getCheckData">获取选中行数据</button>
            <button class="layui-btn layui-btn-sm" lay-event="getCheckLength">获取选中数目</button>
            <button class="layui-btn layui-btn-sm" lay-event="isAll">验证是否全选</button>
        </div>
    </script>

    <script type="text/html" id="barMood">
        <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
    </script>
</head>
<body>

<table class="layui-hide" id="mood" lay-filter="mood"></table>

<script src="../static/layui/layui.js" charset="utf-8"></script>
<!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->

<script type="text/javascript"  th:inline="none">
    layui.use('table', function(){
        var table = layui.table;

        table.render({
            elem: '#mood'
            ,url:'/mood/data'
            ,cellMinWidth: 80 //全局定义常规单元格的最小宽度，layui 2.2.1 新增
            ,toolbar: '#toolbarMood'
            ,cols: [[
                {type: 'checkbox', fixed: 'left'}
                ,{field:'moodId', width:80, title: 'id', sort: true}
                ,{field:'userId', width:100, title: '用户',sort: true}
                ,{field:'moodTime', width:150, title: '发布时间', sort: true}
                ,{field:'moodContent', title: '说说内容'}
                ,{field:'moodIp', width:120,title: '发布ip'}
                ,{fixed: 'right', title:'操作', toolbar: '#barMood', width:150}
            ]]
        });
        //头工具栏事件
        table.on('toolbar(mood)', function(obj){
            var checkStatus = table.checkStatus(obj.config.id);
            switch(obj.event){
                case 'insert':
                    //询问框
                    layer.open({
                        type: 2,
                        title: '添加说说',
                        shadeClose: true,
                        shade: 0.2,
                        area: ['380px', '50%'],
                        //iframe的url
                        content: '/quaint/moodAdd'
                    });
                    break;
                case 'getCheckData':
                    var data = checkStatus.data;
                    layer.alert(JSON.stringify(data));
                    break;
                case 'getCheckLength':
                    var data = checkStatus.data;
                    layer.msg('选中了：'+ data.length + ' 个');
                    break;
                case 'isAll':
                    layer.msg(checkStatus.isAll ? '全选': '未全选');
                    break;
            };
        });

        //监听行工具事件
        table.on('tool(mood)', function(obj){
            var data = obj.data;
            //console.log(obj.data.moodId);
            if(obj.event === 'del'){
                layer.confirm('真的删除行么', function(index){
                    alert("插入删除操作"+data.moodId);
                    //调用删除方法
                    obj.del();
                    layer.close(index);
                });
            } else if(obj.event === 'edit'){
                layer.prompt({
                    formType: 2
                    ,value: data.email
                }, function(value, index){
                    obj.update({
                        email: value
                    });
                    layer.close(index);
                });
            }
        });

    });
</script>

</body>
</html>