<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>心情添加界面</title>
    <link rel="stylesheet" href="../../../static/admin/layui/css/layui.css">
</head>
<body>
<form class="layui-form" method="post">
    <div class="layui-form-item">
        <label class="layui-form-label">用户id</label>
        <div class="layui-input-block">
            <input type="text" name="userId" lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">说说内容</label>
        <div class="layui-input-block">
            <input type="text" name="moodContent" lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit="" lay-filter="add">添加</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</form>
<script src="../../../static/admin/layui/layui.js" charset="utf-8"></script>
<script src="../../../static/comm/js/jquery-3.3.1.js" charset="utf-8"></script>
<script>
    //Demo
    layui.use('form', function(){
        var form = layui.form;

        //监听提交
        form.on('submit(add)', function(data){
            var param = JSON.stringify(data.field);
            $.ajax({
                url: "/mood/data",
                type: "POST",
                contentType: 'application/json; charset=UTF-8',
                dataType:'text',
                data: param,
                success: function(msg) {
                    if(msg=="ok"){
                        //添加成功,先获取ifream坐标
                        // var index = parent.layer.getFrameIndex(window.name);
                        layer.msg("添加成功!");
                        setTimeout(function(){
                            // parent.layer.close(index);//关闭弹出层
                            parent.location.reload();//更新父级页面
                        }, 1000);
                    }else{
                        layer.msg(msg);
                    }
                }
             });
            return false;
        });
    });
</script>
</body>
</html>