<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.quaint.blog.mapper.MoodMapper" >
  <resultMap id="BaseResultMap" type="com.quaint.blog.pojo.Mood" >
    <id column="mood_id" property="moodId" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="mood_time" property="moodTime" jdbcType="TIMESTAMP" />
    <result column="mood_ip" property="moodIp" jdbcType="VARCHAR" />
    <result column="mood_content" property="moodContent" jdbcType="VARCHAR" />
    <result column="type_id" property="typeId" jdbcType="TINYINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    mood_id, user_id, user_name,mood_time, mood_ip, mood_content, type_id
  </sql>
  <select id="select" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from quaint_mood order by mood_time desc
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from quaint_mood
    where mood_id = #{moodId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from quaint_mood
    where mood_id = #{moodId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.quaint.blog.pojo.Mood" >
    insert into quaint_mood (mood_id, user_id,user_name, mood_time,
      mood_ip, mood_content, type_id
      )
    values (#{moodId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER},#{userName,jdbcType=VARCHAR}, #{moodTime,jdbcType=TIMESTAMP},
      #{moodIp,jdbcType=VARCHAR}, #{moodContent,jdbcType=VARCHAR}, #{typeId,jdbcType=TINYINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.quaint.blog.pojo.Mood" >
    insert into quaint_mood
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="moodId != null" >
        mood_id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="userName != null" >
        user_name,
      </if>
      <if test="moodTime != null" >
        mood_time,
      </if>
      <if test="moodIp != null" >
        mood_ip,
      </if>
      <if test="moodContent != null" >
        mood_content,
      </if>
      <if test="typeId != null" >
        type_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="moodId != null" >
        #{moodId,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="moodTime != null" >
        #{moodTime,jdbcType=TIMESTAMP},
      </if>
      <if test="moodIp != null" >
        #{moodIp,jdbcType=VARCHAR},
      </if>
      <if test="moodContent != null" >
        #{moodContent,jdbcType=VARCHAR},
      </if>
      <if test="typeId != null" >
        #{typeId,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.quaint.blog.pojo.Mood" >
    update quaint_mood
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="userName != null" >
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="moodTime != null" >
        mood_time = #{moodTime,jdbcType=TIMESTAMP},
      </if>
      <if test="moodIp != null" >
        mood_ip = #{moodIp,jdbcType=VARCHAR},
      </if>
      <if test="moodContent != null" >
        mood_content = #{moodContent,jdbcType=VARCHAR},
      </if>
      <if test="typeId != null" >
        type_id = #{typeId,jdbcType=TINYINT},
      </if>
    </set>
    where mood_id = #{moodId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.quaint.blog.pojo.Mood" >
    update quaint_mood
    set user_id = #{userId,jdbcType=INTEGER},
      user_name = #{userName,jdbcType=VARCHAR},
      mood_time = #{moodTime,jdbcType=TIMESTAMP},
      mood_ip = #{moodIp,jdbcType=VARCHAR},
      mood_content = #{moodContent,jdbcType=VARCHAR},
      type_id = #{typeId,jdbcType=TINYINT}
    where mood_id = #{moodId,jdbcType=INTEGER}
  </update>
</mapper>