<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.quaint.blog.mapper.SecretMessageMapper" >
  <resultMap id="BaseResultMap" type="com.quaint.blog.pojo.SecretMessage" >
    <id column="secret_id" property="secretId" jdbcType="INTEGER" />
    <result column="send_id" property="sendId" jdbcType="INTEGER" />
    <result column="receive_id" property="receiveId" jdbcType="INTEGER" />
    <result column="message_topic" property="messageTopic" jdbcType="VARCHAR" />
    <result column="message_content" property="messageContent" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    secret_id, send_id, receive_id, message_topic, message_content
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from quaint_secret_message
    where secret_id = #{secretId,jdbcType=INTEGER}
  </select>
  <select id="select" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from quaint_secret_message
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from quaint_secret_message
    where secret_id = #{secretId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.quaint.blog.pojo.SecretMessage" >
    insert into quaint_secret_message (secret_id, send_id, receive_id, 
      message_topic, message_content)
    values (#{secretId,jdbcType=INTEGER}, #{sendId,jdbcType=INTEGER}, #{receiveId,jdbcType=INTEGER}, 
      #{messageTopic,jdbcType=VARCHAR}, #{messageContent,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.quaint.blog.pojo.SecretMessage" >
    insert into quaint_secret_message
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="secretId != null" >
        secret_id,
      </if>
      <if test="sendId != null" >
        send_id,
      </if>
      <if test="receiveId != null" >
        receive_id,
      </if>
      <if test="messageTopic != null" >
        message_topic,
      </if>
      <if test="messageContent != null" >
        message_content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="secretId != null" >
        #{secretId,jdbcType=INTEGER},
      </if>
      <if test="sendId != null" >
        #{sendId,jdbcType=INTEGER},
      </if>
      <if test="receiveId != null" >
        #{receiveId,jdbcType=INTEGER},
      </if>
      <if test="messageTopic != null" >
        #{messageTopic,jdbcType=VARCHAR},
      </if>
      <if test="messageContent != null" >
        #{messageContent,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.quaint.blog.pojo.SecretMessage" >
    update quaint_secret_message
    <set >
      <if test="sendId != null" >
        send_id = #{sendId,jdbcType=INTEGER},
      </if>
      <if test="receiveId != null" >
        receive_id = #{receiveId,jdbcType=INTEGER},
      </if>
      <if test="messageTopic != null" >
        message_topic = #{messageTopic,jdbcType=VARCHAR},
      </if>
      <if test="messageContent != null" >
        message_content = #{messageContent,jdbcType=VARCHAR},
      </if>
    </set>
    where secret_id = #{secretId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.quaint.blog.pojo.SecretMessage" >
    update quaint_secret_message
    set send_id = #{sendId,jdbcType=INTEGER},
      receive_id = #{receiveId,jdbcType=INTEGER},
      message_topic = #{messageTopic,jdbcType=VARCHAR},
      message_content = #{messageContent,jdbcType=VARCHAR}
    where secret_id = #{secretId,jdbcType=INTEGER}
  </update>
</mapper>